# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Packaging
build/
dist/

# Virtual environments
.venv/

# Cache directories
.mypy_cache/
.pytest_cache/
.hypothesis/

# VS Code etc
.vscode/
schemas/.Rhistory
scripts/.Rhistory
/dictionary/uniprot
1.xlsx
~$1.xlsx
